<?xml version="1.0"?>
<robot name="ur5">
  <link name="base_link"/>
  <link name="shoulder_joint_frame"/>
  <link name="shoulder_link"/>
  <link name="upper_arm_joint_frame"/>
  <link name="upper_arm_link"/>
  <link name="forearm_joint_frame"/>
  <link name="forearm_link"/>
  <link name="wrist_1_joint_frame"/>
  <link name="wrist_1_link"/>
  <link name="wrist_2_joint_frame"/>
  <link name="wrist_2_link"/>
  <link name="wrist_3_joint_frame"/>
  <link name="wrist_3_link"/>
  <link name="tool0"/>

  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_joint_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185307179586" upper="6.283185307179586" effort="150" velocity="3.15"/>
  </joint>
  <joint name="shoulder_dh_offset" type="fixed">
    <parent link="shoulder_joint_frame"/>
    <child link="shoulder_link"/>
    <origin xyz="0 0 0.089159" rpy="1.5707963267948966 0 0"/>
  </joint>

  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="upper_arm_joint_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185307179586" upper="6.283185307179586" effort="150" velocity="3.15"/>
  </joint>
  <joint name="upper_arm_dh_offset" type="fixed">
    <parent link="upper_arm_joint_frame"/>
    <child link="upper_arm_link"/>
    <origin xyz="-0.425 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link"/>
    <child link="forearm_joint_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185307179586" upper="6.283185307179586" effort="150" velocity="3.15"/>
  </joint>
  <joint name="forearm_dh_offset" type="fixed">
    <parent link="forearm_joint_frame"/>
    <child link="forearm_link"/>
    <origin xyz="-0.39225 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link"/>
    <child link="wrist_1_joint_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185307179586" upper="6.283185307179586" effort="28" velocity="3.2"/>
  </joint>
  <joint name="wrist_1_dh_offset" type="fixed">
    <parent link="wrist_1_joint_frame"/>
    <child link="wrist_1_link"/>
    <origin xyz="0 0 0.10915" rpy="1.5707963267948966 0 0"/>
  </joint>

  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link"/>
    <child link="wrist_2_joint_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185307179586" upper="6.283185307179586" effort="28" velocity="3.2"/>
  </joint>
  <joint name="wrist_2_dh_offset" type="fixed">
    <parent link="wrist_2_joint_frame"/>
    <child link="wrist_2_link"/>
    <origin xyz="0 0 0.09465" rpy="-1.5707963267948966 0 0"/>
  </joint>

  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link"/>
    <child link="wrist_3_joint_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185307179586" upper="6.283185307179586" effort="28" velocity="3.2"/>
  </joint>
  <joint name="wrist_3_dh_offset" type="fixed">
    <parent link="wrist_3_joint_frame"/>
    <child link="wrist_3_link"/>
    <origin xyz="0 0 0.0823" rpy="0 0 0"/>
  </joint>

  <joint name="tool0_fixed" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="tool0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
